#keyboard {
  position: relative;
    width: 870px;
    height: 120px;
    /* background-color: red; */
    margin: 0 auto;
}
.key {
  font-family: 'BIZ UDPGothic', meiryo;
  /* font-family: Comic Sans MS; */
  font-size: 40px;
  color: white;
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.key.bright {
  /* background-color: #f9ba09; */
  background-color: #FF8C00;
}