body {
  /* padding-top: 40px; */
  /* font-family: 'Courier New', monospace; */
  font-family: 'BIZ UDPGothic', meiryo;
  text-align: center;
  /* background-color: #FFFAF0; */
  background-color: #CCFFFF;
  margin-top: -170px;
}

#target {
  font-size: 150px;
  letter-spacing: .1em;
  margin-bottom: 30px;
  margin-top: 1.3em;
}

#result {
  font-size: 80px;
  letter-spacing: .1em;
  font-weight: bold;
  position: absolute;
  top: 150px;
    background-color: #fff;
    z-index: 1;
    width: 98%;
}

#kana {
  margin-bottom: 0;
  font-size: 150px;
}

#underbar {
  font-size: 150px;
  margin-bottom: -1.3em;
  height: 90px;
}

#underbar2{
  color: transparent;
  font-size: 150px;
}

/* .kbord {
  background-color: #FFFAF0;
  width: 100%;
  height: 325px;
  margin-top: -140px;
} */

.border-radius1 {
  margin-top: 200px;
  width: 50px;
  height: 50px;
  line-height: 100px;
  background-color: white;
  outline: 5px solid black;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.border-radius2 {
  width: 50px;
  height: 100px;
  line-height: 100px;
  background-color: white;
  outline: 5px solid black;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.border-radius3 {
  width: 50px;
  height: 100px;
  line-height: 100px;
  background-color: white;
  outline: 5px solid black;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.border-radius4 {
  width: 50px;
  height: 100px;
  line-height: 100px;
  background-color: white;
  outline: 5px solid black;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.border-radius5 {
  width: 50px;
  height: 35px;
  line-height: 100px;
  background-color: white;
  outline: 5px solid black;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin-right: 100px;
}

.border-radius6 {
  width: 50px;
  height: 35px;
  line-height: 100px;
  background-color: white;
  outline: 5px solid black;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin-left: 100px;
}

.border-radius7 {
  width: 50px;
  height: 100px;
  line-height: 100px;
  background-color: white;
  outline: 5px solid black;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.border-radius8 {
  width: 50px;
  height: 100px;
  line-height: 100px;
  background-color: white;
  outline: 5px solid black;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.border-radius9 {
  width: 50px;
  height: 100px;
  line-height: 100px;
  background-color: white;
  outline: 5px solid black;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.border-radius10 {
  width: 50px;
  height: 50px;
  line-height: 100px;
  background-color: white;
  outline: 5px solid black;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.bright {
  background-color: #f9ba09;
}